body{
  background-color: #e6e6fa;
  color: #191970;
  font-family: Arial, Verdana, sans-serif;
}
h1{
  background-color: #191970;
  color: #e6e6fa;
  line-height: 200%;
  font-family: Georgia, "Times New Roman", serif;
  text-indent: 1em;
  text-shadow: 3px 3px 5px #CCCCC;
  padding: 1em;
}
h2{
  background-color: #aeaed4;
  color: #191970;
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
  border-bottom: 2px dashed #191970;
}

nav{
  font-weight: bold;
  font-size: 1.235em;
  word-spacing: 1em;
}

nav a{
  text-decoration: none;
}

p{
  font-size: .90em;
  text-indent: 3em;
}

ul{
  font-weight: bold;
}

.feature{
  color: #C70000;
}

.footer{
  color: #333333;
  font-size: .75em;
  font-style: italic;
  border-top: thin solid #aeaed4;
  padding-top: 10px;
}
.company{
  font-weight: bold;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.25em;
}
#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
